<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-custom">
  <a class="navbar-brand mx-3 fw-bolder fs-3" href="#">User Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/user-upsert" class=" btn nav-link btn-custom" href="#">Add User</a>
      </li>
      <li class="nav-item">
        <a routerLink="/user-list" class=" btn nav-link btn-view" href="#">View List</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
